# Archivos del sistema
.DS_Store
Thumbs.db
Desktop.ini

# Archivos temporales y logs
*.log
*.tmp

# Carpetas de editores / IDEs
.vscode/
.idea/
*.suo
*.user
*.swp
*.bak

# Node modules (si agregás Node.js o npm)
node_modules/

# Archivos de compilación / distribución (dist, build)
dist/
build/

# Archivos de prueba o backups
*.backup
*.zip
*.rar

# Archivos de imagen grandes no necesarios para el repo
*.jpeg
*.jpg
*.png
*.gif

# Archivos generados por navegadores o caché
*.cache
*.localstorage

# Archivos de sistema de Windows / Linux
ehthumbs.db
*.lnk
